@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&family=Yeseva+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

/* POPPINS
 .poppins-thin { font-family: "Poppins", sans-serif; font-weight: 100; font-style: normal;}
  
  .poppins-extralight { font-family: "Poppins", sans-serif; font-weight: 200;font-style: normal;}
  
  .poppins-light {font-family: "Poppins", sans-serif; font-weight: 300;
    font-style: normal; }
  
  .poppins-regular { font-family: "Poppins", sans-serif;  font-weight: 400; font-style: normal;}
  
  .poppins-medium {  font-family: "Poppins", sans-serif; font-weight: 500;
    font-style: normal;}
  
  .poppins-semibold {  font-family: "Poppins", sans-serif;  font-weight: 600;  font-style: normal; }
  
  .poppins-bold {    font-family: "Poppins", sans-serif;    font-weight: 700;    font-style: normal;  }
  
  .poppins-extrabold {    font-family: "Poppins", sans-serif;    font-weight: 800;    font-style: normal;  }
  
  .poppins-black {    font-family: "Poppins", sans-serif;    font-weight: 900;    font-style: normal;  }
  
  .poppins-thin-italic {    font-family: "Poppins", sans-serif;    font-weight: 100;    font-style: italic;  }
  
  .poppins-extralight-italic {    font-family: "Poppins", sans-serif;    font-weight: 200;    font-style: italic;  }
  
  .poppins-light-italic {    font-family: "Poppins", sans-serif;    font-weight: 300;    font-style: italic;  }
  
  .poppins-regular-italic {    font-family: "Poppins", sans-serif;
    font-weight: 400;    font-style: italic;  }
  
  .poppins-medium-italic {    font-family: "Poppins", sans-serif;    font-weight: 500;    font-style: italic;  }
  
  .poppins-semibold-italic {    font-family: "Poppins", sans-serif;    font-weight: 600;    font-style: italic;  }
  
  .poppins-bold-italic {    font-family: "Poppins", sans-serif;    font-weight: 700;    font-style: italic;  }
  
  .poppins-extrabold-italic {    font-family: "Poppins", sans-serif;    font-weight: 800;    font-style: italic;  }
  
  .poppins-black-italic {    font-family: "Poppins", sans-serif;
    font-weight: 900;    font-style: italic;  }
   */

  /* YESEVA 
  .yeseva-one-regular {    font-family: "Yeseva One", serif;    font-weight: 400;    font-style: normal;  }
 */  

 /* SHRIKHAND
 .shrikhand-regular {  font-family: "Shrikhand", serif;
  font-weight: 400;  font-style: normal;
}

 */  
 

:root{
    
    --main-color: #5840D4;
    --main-color-dark:#211A66;
    --text-headings: #211A66;
    --text-deco-color: #F5B6D1;
    --text-headings-2: #F5B6D1;
    --text-color: #211A66;
    --text-color-light: #f5f5f5;
    --bg-color: #5840D4;
    --bg-color-light: rgb(116, 99, 199);
    --bg-dark-color: #18181A;
    --text-deco-color: #F5B6D1;
    --box-shadow: 3px 3px 3px 0px #18181ac7;
    --gradient1: linear-gradient(0deg, rgb(107, 86, 214) 0%, rgba(88,64,212,1) 100%);
    --gradient-transparent : linear-gradient(0deg, rgba(127,94,211,0.5841121495327103) 0%, rgba(127,94,211,0.6004672897196262) 21%, rgba(33,26,102,0.7313084112149533) 100%);
}

body{
    font-family: "Poppins", sans-serif;  
    font-weight: 400; 
    font-style: normal;
}

h1{
    font-family: "Yeseva One", serif;    font-weight: 400;    font-style: normal;
    color: var(--text-headings-2);
    font-size: 3rem;
    display: block;
    padding-top: 30%;
}

img, picture, video, svg, canvas{
    max-width: 100%;
    display: block;
}

input, button, textarea, select{
    font: inherit;
}

ul{
    padding: 0;
    list-style: none;
}

a{
text-decoration: none;
}



header{
    height: 50%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div{
    width: 50%;
    height: 100%;
    padding-block: 3rem;
    text-align: center;
    background-image: url(./img/bola-magica-white.png);
    background-size: 35%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
}

header div p{
    font-style: italic;
    color: var(--text-color-light);
}

nav{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items:center;
}

nav a{
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url(img/bola-magica-white.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: left;
    color: var(--text-color-light);
}

nav a span{
   /*  visibility: hidden; */
   display: block;
   height: 80%;
   padding-left: 2rem;
   padding-top: .3rem;
}

#categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 1rem;
    margin: 2rem;
    color: var(--text-color-light);
}

.card-categoria{
    min-height: 40%;
    max-width: 25%;
    padding: 1rem;
    background-color: var(--bg-color-light);
    text-align: center;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    background-size: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top center;
}

.card-categoria h2{
    color: var(--text-headings-2);
}

.card-categoria button{
    background-color: #f5f5f565;
    color: var(--main-color-dark);
    border: none;
    border-bottom: var(--text-deco-color) 1px solid;
    border-radius: 1rem;
    cursor: pointer;
    margin-block: 1rem;
}

.card-categoria button:hover{
   background-color: #f5f5f575;
}
.card-categoria button:active{
    background-color: #f5f5f59f;
 }

.card-categoria:first-of-type{
    background-image: url(./img/icon-03.png);
}


.card-categoria:nth-of-type(2){
    background-image: url(./img/icon-04.png);
  
}

.card-categoria:nth-of-type(3){
    background-image: url(./img/icon-05.png);

}


/*LEARN CARDS */
 #learn-cards{
    background: var(--text-color-light);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 3rem;
    width: 100%;
    background-color: var(--bg-color);
    background-blend-mode: lighten;
    color: var(--text-color-light);
}

#learn-cards h2{
color: var(--text-deco-color);
}

#learn-cards button{
    margin-block: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px var(--text-deco-color) solid; 
    cursor: pointer;
    color: var(--text-color-light);
}

#learn-cards button:hover{
   background-color:#f5f5f542;
   font-weight: 600;
   
}

.containerCards {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    background-image: url(./img/icon-03.png);

}

.containerCards article {
    min-width: 20%;
    padding: 1rem;
   /*  background-image: url(./img/paper-texture.jpg); */
    background-color: var(--text-color-light);
    background: var(--gradient1);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.containerCards article div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    border: var(--text-deco-color) solid 1px;
    padding: 1rem;
}

img{
    width: 50%;
}

.ocultar{
    display: none !important;
}

.modal {
    position: fixed;
    z-index: 1;
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.modal > div{
    background: #FFFFFF;
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    align-items: center;
    height: 80%;
    padding: 3rem;
    min-width: 400px;
    border-radius: 2rem;
    overflow: scroll;
}

.modal div img{
    width: 30%;
    position: sticky;
}

.modal .btnCerrar{
    position: relative;
    z-index: 1;
    top:0;
    right: -50%;
    color: var(--main-color-dark);
    background-color: none;
    border: none;
} 


input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label{
  background-color: var(--bg-color);
  color: var(--text-color-light);
}

input + label{
display: block;
padding:.5rem;
margin-block: .5rem;
}

#question{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--text-color-light);
    overflow: hidden;
    padding-bottom: 2rem;
    color: var(--text-color);
    height: fit-content;
}

#question h2{
    font-size: 1.5rem;
}

#question button{
    background-color: #f5f5f565;
    color: var(--main-color-dark);
    border: none;
    border-bottom: var(--text-deco-color) 1px solid;
    border-radius: 1rem;
    cursor: pointer;
    margin-block: 1rem;
    padding: .5rem;
    width: 30%;
}

#question button:hover{
   background-color: #f5f5f575;
}
#question button:active{
    background-color: #f5f5f59f;
 }

 #question .btnCerrar{
    width: 3rem;
 }

.options{
    background-color: var(--bg-color-light);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.options label:hover{
    background-color: var(--main-color-dark);
}

#cards-collection {
    text-align: center;
    background: var(--text-color-light);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 3rem;
    width: 100%;
    background-color: var(--bg-color);
    background-blend-mode: lighten;
    color: var(--text-color-light);
}

#cards-collection h2{
    color: var(--text-deco-color);
}

#cards-collection div {
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    background-image: url(./img/icon-03.png);
}

#cards-collection div article{
width: 20%;
background-color: var(--text-color-light);
background: var(--gradient1);
padding: 1rem;
box-shadow: var(--box-shadow);display: flex;
flex-direction: column;
align-items: center;
border-radius: 1rem;
}

.containerInfo ul{
width: 80%;
margin-top: 1rem;
border-radius: 1rem;
}
.containerInfo ul li{
    padding: .5rem;
}
.containerInfo ul li:nth-of-type(even){
background-color: #221a6649;
}
.containerInfo ul li:nth-of-type(odd){
    background-color: #221a668c;
    }

#notif {
    margin-top: 1rem;

}

.box {
    height: fit-content!important;
    padding: 0rem;
    overflow: hidden!important;
}

@media screen and (min-width: 481px) and (max-width: 768px){
    #categorias{
        flex-direction: column;
        align-items: center;
    }

    #categorias .card-categoria{
       min-width: 80%;
       min-height: 30%;
        display: block;
    }

    .card-categoria button{
        margin-block: 1rem;
    }

    .modal div{
        font-size: .7rem;
    }

    #learn-cards .containerCards {
        flex-direction: row;
        justify-content: center;
    }      
    
    #learn-cards .containerCards article{
        width: 40%;
        align-items: center;

    }

    #cards-collection div article{
        width: 30%;
        font-size: .8rem;
    }
    
}